body {
	padding-top: 50px;
	padding-bottom: 20px;
	font: 11px sans-serif;
	font-family: 'Droid Serif';
}

h1 {
	font-size: 51px;
}

h4 {
	font-family: 'Droid Sans';
	font-weight: bold;
}

p {
	color: rgb(110, 110, 110);
	font-size: 14px;
}

a {
	color: black;
	text-decoration: underline;
}

.header {
	text-align: center;
}

.container {
	margin-bottom: 100px;
}

#graphic {
	margin: 0 auto;
	font-family: Droid Sans;
}

#graph_title {
	margin-left: 40px;
}

#sources {
	margin-left: 40px;
	font-size: 10px;
	line-height: 4px;
}

#sources p {
	font-size: 10px;
}

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.tick {
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
}

.dot {
	stroke: #000;
}

.tooltip {
	position: absolute;
	width: 200px;
	height: 28px;
	pointer-events: none;
}

.article {
	width: 540px;
	margin: 10px auto;
	font-size: 16px;
	line-height: 1.4em;
}


.event-label {
	font-size: 8px;
	/*fill: rgb(193, 99, 13);*/
	fill: rgb(154, 154, 154);
	text-anchor: end;
}

/*.brush .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}*/

.box {
	fill: rgba(206,39,37,1);
}

.gdelt {
	/*stroke: rgba(193, 100, 15, 0.34);*/
	stroke: rgba(46, 170, 255, 0.7);
	stroke-width: 3px;
	/*stroke: rgba(0, 255, 0, 1);*/
	fill: none;
}

.gdelt_label {
	fill: rgba(46, 170, 255, 0.7);
	font-family: 'Droid Sans';
	font-weight: bold;
}

path.line {
	fill: none;
}

